body {
  margin: 0px;
  padding: 0px;
  background-color: #FFFFFF;
  width: 100%;

  text-decoration: none;
  font-size:11pt;
  font-family:helvetica,Sans Serif;
  color: #000000;
  background-image:url('/images/invitation.jpeg');
  background-repeat:no-repeat;
  background-position:center center;
  background-attachment: fixed;
  }

strong {
  color: #9a162e;
}

#basic, #details, #error, #notice, .errorExplanation, #all {
  margin: 5px;
  padding: 5px;
  position: relative;
  float: none;
  border: 1px dotted silver;
  border-left: none;

  width: 450px;
  background-image:url('/images/transparency3.png');

}

#header {
  width:95%;

}

.fieldWithErrors, .errorExplanation {
  border-left: 5px solid #9a162e;
  padding: 5px;
  margin-bottom: 10px;
  width: 445px;

}

#notice{
  border: 1px dotted #F4C430;
  background-color: #F4C430;
  background-image: none;
}

#error{
  border: 1px dotted #9a162e;
  background-color: #9a162e;
  color: #FFFFFF;
  background-image: none;

}

input[type="text"], input[type="password"], input[type="checkbox"], textarea {

  border: 1px dotted #9a162e;
  background-color: whitesmoke;
  font-color: #4f391a;
  font-weight: bold;
  font-family: courier;
  font-size: 1.25em;
  letter-spacing: 1px;

}

input[type="text"]:focus, input[type="password"]:focus, input[type="checkbox"]:focus, textarea:focus {
  border: 1px dotted #9a162e;

}

#home {
  position:fixed;
  left: 325px;
  top: 0px;
  border: 0px;
  z-index: 10;

}

.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   position: right;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }


.button a:link {color:#FFF;}      /* unvisited link */
.button a:visited {color:#FFF;}  /* visited link */
.button a:hover {color:#FFF;}  /* mouse over link */
.button a:active {color:#FFF;}
.button a {text-decoration:none;}

