<% title "RSVP Received" %>

<div id=basic>
<p>Thanks.  Your RSVP has been recorded.</p>

<p><a href=http://rachelandanatoly.com>Click here</a> to go back to our homepage.  Remember to return to the homepage to check for updates once in a while.</p>
</div>

